# Configuration
.vscode
*.code-workspace
desktop.ini

# Output files
build

# Back-up files
sdkconfig.old

# TODO and NOTES
TODO.md
NOTES.md

# Google Drive
.tmp.driveupload

# Other files and folders
